In [12]:
import requests
import pandas as pd

In [4]:
requests.get('https://api.themoviedb.org/3/movie/popular?api_key=0d600a032c9018468cffbc9bc7b17b95&language=en-US&page=10')

In [6]:
response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=0d600a032c9018468cffbc9bc7b17b95&language=en-US&page=1').json()

In [14]:
d={'name':['Rahul','Rohit'],'Age':[34,56]}

df=pd.DataFrame(d)

df

    name  Age
0  Rahul   34
1  Rohit   56

In [17]:
popularity=[]
vote_count=[]
title=[]
vote_avg=[]
original_lang=[]
overview=[]
release_date=[]


for i in response['results']:
    popularity.append(i['popularity'])
    vote_count.append(i['vote_count'])
    title.append(i['title'])
    vote_avg.append(i['vote_average'])
    original_lang.append(i['original_language'])
    overview.append(i['overview'])
    release_date.append(i['release_date'])
    
d={'title':title, 'overview':overview, 'original_lang':original_lang,'release_date':release_date,'vote_avg':vote_avg,'vote_count':vote_count,'popularity':popularity}
    
df=pd.DataFrame(d)

df
    #print(i['title'],i['vote_average'])

,title,overview,original_lang,release_date,vote_avg,vote_count,popularity
0,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,en,2022-12-07,8.6,2163,8303.733
1,M3GAN,A brilliant toy company roboticist uses artifi...,en,2022-12-28,7.0,338,3751.058
2,Avatar: The Way of Water,Set more than a decade after the events of the...,en,2022-12-14,7.7,4405,2552.263
3,Devotion,The harrowing true story of two elite US Navy ...,en,2022-11-23,6.9,67,2190.076
4,The Enforcer,"A noir thriller set in Miami, the film follows...",en,2022-09-22,6.7,60,2223.984
5,Violent Night,When a team of mercenaries breaks into a wealt...,en,2022-11-30,7.7,963,1585.781
6,Troll,"Deep inside the mountain of Dovre, something g...",no,2022-12-01,6.7,1032,1406.265
7,Encanto at the Hollywood Bowl,A taped performance of the Encanto Live-to-Fil...,en,2022-12-28,6.6,20,1261.481
8,Black Adam,"Nearly 5,000 years after he was bestowed with ...",en,2022-10-21,7.2,3781,1388.422
9,Glass Onion: A Knives Out Mystery,World-famous detective Benoit Blanc heads to G...,en,2022-11-23,7.1,2798,1227.266
10,Avatar,"In the 22nd century, a paraplegic Marine is di...",en,2009-12-15,7.6,27879,1193.532
11,Black Panther: Wakanda Forever,"Queen Ramonda, Shuri, Mâ€™Baku, Okoye and the Do...",en,2022-11-09,7.5,1660,1111.163
12,The Woman King,"The story of the Agojie, the all-female unit o...",en,2022-09-16,7.9,1074,1068.722
13,Roald Dahl's Matilda the Musical,An extraordinary young girl discovers her supe...,en,2022-11-25,6.8,362,1048.844
14,The Last Client,Renowned psychologist Susanne (Signe Egholm Ol...,da,2022-06-20,7.4,25,1057.612
15,"The Chronicles of Narnia: The Lion, the Witch ...","Siblings Lucy, Edmund, Susan and Peter step th...",en,2005-12-07,7.1,9186,1068.672
16,Savage Salvation,Newly engaged Shelby John and Ruby Red want a ...,en,2022-12-02,5.6,36,964.786
17,High Heat,When the local mafia shows up to burn down her...,en,2022-12-16,5.1,24,887.875
18,Prey for the Devil,In response to a global rise in demonic posses...,en,2022-10-23,7.2,397,858.496
19,The Big 4,A by-the-book female detective teams up with f...,id,2022-12-19,6.9,82,875.115

In [24]:
final=pd.DataFrame()

for j in range(1,15):
    
    response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=0d600a032c9018468cffbc9bc7b17b95&language=en-US&page={}'.format(j)).json()
    
    popularity=[]
    vote_count=[]
    title=[]
    vote_avg=[]
    original_lang=[]
    overview=[]
    release_date=[]


    for i in response['results']:
        popularity.append(i['popularity'])
        vote_count.append(i['vote_count'])
        title.append(i['title'])
        vote_avg.append(i['vote_average'])
        original_lang.append(i['original_language'])
        overview.append(i['overview'])
        release_date.append(i['release_date'])

    d={'title':title, 'overview':overview, 'original_lang':original_lang,'release_date':release_date,'vote_avg':vote_avg,'vote_count':vote_count,'popularity':popularity}

    df=pd.DataFrame(d)
   
    final=final.append(df,ignore_index=True)

C:\Users\nishant\AppData\Local\Temp\ipykernel_8808\4112925519.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)

In [25]:
final

,title,overview,original_lang,release_date,vote_avg,vote_count,popularity
0,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,en,2022-12-07,8.6,2163,8303.733
1,M3GAN,A brilliant toy company roboticist uses artifi...,en,2022-12-28,7.0,338,3751.058
2,Avatar: The Way of Water,Set more than a decade after the events of the...,en,2022-12-14,7.7,4405,2552.263
3,Devotion,The harrowing true story of two elite US Navy ...,en,2022-11-23,6.9,67,2190.076
4,The Enforcer,"A noir thriller set in Miami, the film follows...",en,2022-09-22,6.7,60,2223.984
...,...,...,...,...,...,...,...
275,The Suicide Squad,"Supervillains Harley Quinn, Bloodsport, Peacem...",en,2021-07-28,7.6,6924,115.624
276,Bromates,Longtime best friends Sid and Jonesie are dump...,en,2022-10-07,5.5,11,115.424
277,Clifford the Big Red Dog,As Emily struggles to fit in at home and at sc...,en,2021-11-10,7.3,1490,115.389
278,John Wick: Chapter 2,John Wick is forced out of retirement by a for...,en,2017-02-08,7.3,10826,115.056
279,Ice Age,"With the impending ice age almost upon them, a...",en,2002-03-10,7.3,11682,114.665

In [26]:
final.to_csv('movies.csv')